---
layout: default
permalink: /blog
title: Blog | Jared Potter
---

{% include defaultNavigation.html %}
<div class="blog-list-container">
  <div class="blog-list">
    <h1>Latest Posts</h1>

    <ul class="blog-list-element">
      {% for post in site.posts %}
      <li class="blog-post-card">
        <a href="{{ post.url }}" class="post-link">
          <h2>{{ post.title }}</h2>
          <picture>
            <img
              src="{{ post.coverImage }}"
              alt="{{  post.title }}"
              class="blog-thumb"
            />
          </picture>
          <p>
            {{ post.excerpt }}
          </p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
