<div class="article-bottom-container">
  <div class="share">
    <p>
      If you found this article useful or have feedback, then please @ me on
      <a href="https://www.twiter.com/jaredpotter">Twitter</a> and share!
    </p>
  </div>
  <div class="jared-potter-blurp">
    <img
      src="/assets/images/profile.jpg"
      alt="Jared Potter"
      class="profile-pic"
    />
    <p>
      <strong>Jared Potter</strong> is a software engineer and educator. Jared
      believes strongly in one's ability to change their circumstances through
      hard work. In his freetime Jared enjoys hiking the mountain peaks of the
      Wasatch Front in SLC, Utah.
    </p>
  </div>
</div>
