<footer class="post-footer">
  <ul class="social">
    <li>
      <a href="https://www.twitter.com/jaredpotter" class="fa fa-twitter icon">
        <span class="label">
          Twitter
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.github.com/jaredpotter" class="fa fa-github icon">
        <span class="label">
          Github
        </span>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/jaredrpotter"
        class="fa fa-linkedin icon"
      >
        <span class="label">
          Linkedin
        </span>
      </a>
    </li>
  </ul>
</footer>
