---
<!-- permalink: /blog/:title -->
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/medium.css" />
    <link
      rel="stylesheet"
      href="/assets/css/font-awesome-4.7.0/css/font-awesome.min.css"
      target="_blank"
    />
  </head>
  <body>
    {% include defaultNavigation.html %}
    <div class="post-container">
      <h1>{{ page.title }}</h1>
      <article class="post">
        {{ content }}
      </article>
      <hr class="line"></hr>
      {% include postBottom.html %}
      <br>
      {% include postFooter.html %}
    </div>
  </body>
</html>
